.contact-list {
  padding: 0;
  margin: 0;
}

.contact-list ul {
  padding: 0;
  margin: 0;
}

.contact-list ul li.contact-list-element {
  list-style: none;
  border: 2px solid var(--fg);
  margin: 0.5rem 0;
  padding: 0.5rem 2rem;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 40px 1fr;
  align-items: center;
}

.contact-list ul li.contact-list-element .contact-fav {
  width: 20px;
  height: 20px;
  background: yellowgreen;
  border-radius: 20px;
  grid-column: 1;
}

.contact-list ul li.contact-list-element h2 {
  grid-column: 2;
}
