:root {
  --bg: #ffffff;
  --fg: #000000;
}

[data-theme="dark"] {
  --bg: #000000;
  --fg: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: var(--fg);
  background-color: var(--bg);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.button {
  padding: 1rem;
  border: 2px solid var(--fg);
  border-radius: 10px;
  text-align: center;

  text-decoration: none;
  color: var(--fg);
  background-color: var(--bg);

  transition: 0.2s;

  cursor: pointer;

  font-size: 1rem;
}

.button.xs {
  padding: 0.4rem 1rem;
}

.button:hover {
  background: var(--fg);
  color: var(--bg);
  transform: scale(1.05);

  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
    0 16px 16px rgba(0, 0, 0, 0.12);
}
